.about {
  background-color: #f9f8f8;
}

.about-items {
  min-height: 1006px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__content {
  min-height: 736px;
  max-width: 675px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 5px;
}

.text-title {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 59px;
  color: #274c5b;
}

.text-normal {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  color: #525c60;
}

.about__content-img {
  float: left;
  margin-right: 20px;
}

.about__title {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
}

.button__about--color {
  background-color: #274c5b;
}

.button__text--color {
  color: #ffffff;
}
