@import url(header.css);
@import url(main.css);
@import url(offers.css);
@import url(about.css);
@import url(ourProducts.css);
@import url(testimonials.css);

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #E5E5E5;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
}

.container {
  margin: 0 auto;
  max-width: calc(100% - 60px);
  width: 100%;
  outline: 1px solid red;
  height: 100%;
  color: #525C60;
}
