.ourProducts {
  background-color: #ffffff;
}

.ourProductsBox {
  min-height: 1621px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ourProductsHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ourProducts__items {
  min-height: 1381px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.cardProduct {
  background-color: #f9f8f8;
  max-width: 440px;
  width: 100%;
  height: 590px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.cardProduct__class {
  outline: 1px solid #274c5b;
  height: 37px;
  max-width: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #274c5b;
  border-radius: 8px;
  margin: 7% 0 0 7%;
  font-weight: 700;
  font-size: 15px;
  line-height: 27px;
}

.cardProduct__img {
  display: flex;
  justify-content: space-around;
}

.cardProduct__info {
    display: flex;
    flex-direction: column;
    min-height: 105px;
    justify-content: space-around;
    max-width: 387px;
    margin-top: 20px;
    padding-left: calc(50% - 193.5px);
}

.cardProduct__infoTitle {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  border-bottom: 1px solid #D4D4D4;
  padding-bottom: 11px;
}

.cardProduct__infoTitleDecor {
    text-decoration: none;
    color: #274c5b;
}

.cardProduct__infoPrice {
    display: flex;
    justify-content: space-between;
}

.cardProduct__infoPriceBox {
    display: flex;
    min-width: 222px;
    justify-content: space-between;
}

.cardProduct__infoPriceBoxOld {
    text-decoration-line: line-through;
    color: #B8B8B8;
    font-size: 17px;
    font-weight: 400;
    line-height: 32.4px;
}

.cardProduct__infoPriceBoxNew {
    color: #274C5B;
    font-size: 18px;
    font-weight: 700;
    line-height: 32.4px
}

.cardProduct__infoPriceRatingStar:hover {
  transform: scale(1.3);
  cursor: pointer;
}


